.background-container {
  background: #e4e4e4;
  padding: 0 10px;
}

.plus-background {
  background: #7373fe;
  width: 25px;
  height: 25px;
  border-radius: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.icon-text-script {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.plus-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 15px 10px 0;
}

.plus-text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0 10px 0;
}

.icon-text-script:last-child .plus-text {
  border-right: none;
}

.script-btn-icon-text {
  display: flex;
  align-items: center;
  width: 48%;
  gap: 20%;

}
