.rightIcons {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-info {
  width: 100%;
  font-size: 14px;
  justify-content: center;
  color: red;
  font-weight: 500;
  padding: 12px 22px 4px 22px;
}

.header-heading {
  width: 35%;
  text-align: right;
}

