

.background-container-footer {
  background: #e4e4e4;
  padding: 10px;
    display: flex;
    flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-icon-text{
   display: flex;
   flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   cursor: pointer;
   font-size: 14px;
   font-weight: 500;
}

.footer-icon-text:hover {
    color: rgb(239, 44, 119);
    font-weight: 600;
}